<!DOCTYPE html>
<html>
<head>
<title>
IOT Based Medicine Dispenser</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>

body {background-repeat:no-repeat;background-position:top left;background-attachment:fixed;}
h1,h2{text-align:center;font-family:Verdana, sans-serif;color:#74e7ff;}
p{font-family:Verdana;color:#00a7ff; serif;font-size:30px;font-style:normal;font-weight:normal;background-color:#ffffff;}
html,p{background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(233,224,201,1) 0%, rgba(16,138,97,1) 35%, rgba(0,255,183,1) 100%);}
</style>
</head>
<body>
<h1>Welcome to the Smart Medicine Dispenser!</h1>
<h2>Please select the day of which you want to dispense medicine.</h2>
<p>
<form action="#" method="POST">
<p>
Monday
<input type="radio" name="but" value="mon">
<br>
Tuesday
<input type="radio" name="but" value="tue">
<br>
Wednesday
<input type="radio" name="but" value="wed">
<br>
Thursday
<input type="radio" name="but" value="thu">
<br>
Friday
<input type="radio" name="but" value="fri">
<br>
Saturday
<input type="radio" name="but" value="sat">
<br>
Sunday
<input type="radio" name="but" value="sun">
</p>
<br>
<br>
<br>
<br>
<button type="submit">Submit</button>
</form>
</p>
</body>
</html>
